@page "/"

    <style>
        body {
            background-image: url(imagen/foto.jpg);
        }
        .factura {
            color: red;
        }
        .letra{

            color:black;
        }
    </style>


    <div class="factura">
        <center>
            <h1>Proyecto Final Prog3</h1>
            <div class=letra>
            <h2>Amadis Suarez</h2>
                </div>
            <br>
            <br>
            <h2>Instegrante del Proyecto</h2>
            <div class="letra">
            <h3>Emely Severino </h3>
            <h3>Daniel Beltre</h3>
            <h3>Cristian Gomez</h3>
            <h3>Eduardo Delgado</h3>
            <h3>Dionis Valerio</h3>
                </div>
        </center>
    </div>